<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="acesso_dados.Properties.Settings.afasfaConnectionString"
            connectionString="server=localhost;user id=root;database=afasfa"
            providerName="MySql.Data.MySqlClient" />
        <add name="acesso_dados.Properties.Settings.AFASFAConnectionString1"
            connectionString="server=localhost;user id=root;database=AFASFA"
            providerName="MySql.Data.MySqlClient" />
        <add name="acesso_dados.Properties.Settings.afasfaConnectionString2"
            connectionString="server=localhost;database=afasfa;user id=root"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>