	body
	{
		margin: 0;
		padding: 0;
		font: 85% arial, hevetica, sans-serif;
		text-align: center;
		color: #000000;
		background-color: #E6E7F2;
	}
	
	#container
	{
		margin: 1em auto;
		width: 750px;
		<!--o width padrão era 680 -->
		text-align: center;
		background-color: #FFFFFF;
		border: 1px solid black;
	}
	
	
	#topo {	
	height: 130px;
	width: 100%;
	}
	
	#menu
	{
		float: left;
		width: 166px;
		background-color: #E6E7F2;
	height: 350px;
}
	
	#conteudo
	{
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 200px;
	}
	
	#rodape
	{
	clear: both;
	height: 20px;
	background-color: #666699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	}
	
	#formlogin{
	background-color: #E6E7F2;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 250px;
	margin-right: 250px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	}

.LinkMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #666699;
	text-decoration: none;
}
.LinkMenu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	text-decoration: none;
	background-color: #FFFF00;

}
.lblFomulario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}
.txtFormulario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #336699;
}
.linkTopo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	text-decoration: none;

}
.linkTopo:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #666699;
	text-decoration: none;

}
.TextoPagina {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	background-color: #FFFFFF;

}
.TextoPaginaInicial {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #666699;
	background-color: #FFFFFF;

}

.TextoRodape {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.lblFormLogin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #000000;
	text-decoration: none;
}
.txtFormLogin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #FF0000;
	text-decoration: none;
}
.TextoTitulo {
	font-size: small;
	color: #000000;
	font-family: Hancock, Verdana;

}
.LinkVerFotos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFF00;
	text-decoration: none;
}
.LinkVerFotos:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	text-decoration: none;
}
.TextoSaudacoes {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #3399CC;

}
.LinkFechar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	text-decoration: none;
}
.linkFechar:Hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	text-decoration: none;
}
.BordaImagemAzul {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #3399CC;
	border: thick solid #3399CC;
}
.BordaImagemLaranja {


	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #FFCC99;
	border: thick solid #FFCC99;
}
.BordaImagemVerde {



	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #006600;
	border: thick solid #006600;
}
.BordaImagemMarrom {




	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #FF9933;
	border: thick solid #FF9933;
}
.BordaImagemLilas {



	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #CC66FF;
	border: thick solid #CC66FF;
}
.BordaImagemMarrom1 {





	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #663300;
	border: thick solid #663300;
}
.linkTopoFotos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;

}
.BordaImagemVermelha {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #FF0000;
	border: thick solid #FF0000;

}
.BordaImagemAmarela {




	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #FFFF00;
	border: thick solid #FFFF00;
}
.BordaImagemVinho {




	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #660066;
	border: thick solid #660066;
}
#FotoProjeto {
	position: static;

}
#textoProjetos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	text-decoration: none;
	position: relative;
	left: 521px;
	top: 11px;


}
#Projetos {

	background-color: #FFCCFF;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 200px;
}
.TextoPaginaProjetos {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	background-color: #FFFFFF;
}
.TextoTituloProjetos {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: normal;
	color: #3399CC;
	background-color: #FFFFFF;
	text-decoration: none;


}
.BordaImagemPaginaInicial {


	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-small;
	font-style: italic;
	color: #E6E7F2;
	border: thick solid #E6E7F2;
}
.TextoPaginaCampanhas {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #666699;
	background-color: #FFFFFF;
}
.TextoTituloCampanhas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #FF0000;
	background-color: #CCCCCC;
	font-weight: bolder;
	background-position: center center;


}
.LinkCampanhas {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	color: #0000FF;
	text-decoration: none;
}
.LinkCampanhas:Hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FF0000;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
