<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="acesso_dados.Properties.Settings.afasfaConnectionString"
        connectionString="server=localhost;user id=root;database=afasfa"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>